# Azure OpenAI API 配置（
VITE_AZURE_API_KEY=
VITE_AZURE_ENDPOINT=https://openai-baibei.openai.azure.com
VITE_AZURE_DEPLOYMENT=gpt-4.1
VITE_AZURE_API_VERSION=2024-12-01-preview

# Supabase 配置
VITE_SUPABASE_URL=https://supabase-chh.zeabur.app
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTc2ODc4NzI4MiwiZXhwIjoyMDg0MTQ3MjgyfQ.OcOmuSHC4OL-B17IuzUyCKVMED69LpFivxr4_yt3ey8

# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=355294874695-gsrngfsb8jbhio2p8i15te727jr0i586.apps.googleusercontent.com
